<footer class="main-footer footer-type-1 text-xs">
  <div id="footer-tools" class="d-flex flex-column">
      <a href="javascript:" id="to-up" class="btn rounded-circle go-up m-1" data-toggle="tooltip" data-placement="left" title="返回顶部">
          <i class="fa fa-arrow-up"></i>
      </a> 
      <a href="javascript:" data-toggle="modal" data-target="#search-modal" class="btn rounded-circle m-1 search-modal" rel="search" one-link-mark="yes" title="聚合搜索">
          <i class="fa fa-search"></i>
      </a>
  <a href="javascript:" id="NightMode" data="0" class="btn rounded-circle switch-dark-mode m-1" data-toggle="tooltip" data-placement="left" title="日间模式">
          <i class="fa mode-ico"></i>
      </a>
  </div>
  <div class="footer-inner">
      <div class="footer-text">
        <% if (setting.custom && setting.custom.foot) { %>
            <%- setting.custom.foot %>
            <% } %>
      </div>
  </div>
</footer>